In [26]:
#### Ethnicity
import pandas as pd
import sqlite3
from contextlib import closing
import psycopg2

nct_id_list = ['NCT00679783', 'NCT02898207', 'NCT02711137', 'NCT04171700', 'NCT02000622', 
               'NCT03330847', 'NCT03840200', 'NCT02401347', 'NCT03499353', 'NCT02163694', 
               'NCT02561832', 'NCT01078662', 'NCT02734004', 'NCT01818063', 'NCT03330405', 
               'NCT01506609', 'NCT03167619', 'NCT01286987', 'NCT03343054', 'NCT01989546', 
               'NCT04690855', 'NCT03329937', 'NCT02032823', 'NCT01905592', 'NCT01116648', 
               'NCT03286842', 'NCT02657889', 'NCT02034916', 'NCT02282020', 'NCT02282345', 
               'NCT01945775', 'NCT01306032', 'NCT00494234', 'NCT03875313']

def extract_aact(nct_ids):
    connection = psycopg2.connect(
        database="aact",
        user= "achang",
        password="AChang2608",
        host="aact-db.ctti-clinicaltrials.org",
    )

    with closing(connection.cursor()) as cursor:
        # Prepare the SQL query with format string for nct_ids
        query = f"""
            SELECT nct_id, param_value, classification, category
            FROM baseline_measurements
            WHERE (title = 'Race (NIH/OMB)' OR title = 'Race/Ethnicity, Customized')
            AND nct_id IN ({', '.join(["'%s'" % id for id in nct_ids])});
        """
        cursor.execute(query)
        patients = cursor.fetchall()

    columns = [
        'nct_id',
        'number',
        'classification',
        'category',
    ]

    df = pd.DataFrame(patients, columns=columns)

    nunique=df['nct_id'].nunique()
    unique_nct_ids = df['nct_id'].unique()
    #print(unique_nct_ids)
    print(nunique)
    return(df)
    



extracted_race= extract_aact(nct_id_list)
print(extracted_race)

32
           nct_id number          classification  \
0     NCT03167619      0                    None
1     NCT03167619      0                    None
2     NCT03167619      0                    None
3     NCT03167619     16                    None
4     NCT03167619     18                    None
...           ...    ...                     ...
1071  NCT02032823     24      HISPANIC OR LATINO
1072  NCT02032823     58      HISPANIC OR LATINO
1073  NCT02032823    805  NOT HISPANIC OR LATINO
1074  NCT02032823    812  NOT HISPANIC OR LATINO
1075  NCT02032823   1617  NOT HISPANIC OR LATINO

                              category
0     American Indian or Alaska Native
1     American Indian or Alaska Native
2     American Indian or Alaska Native
3                                Asian
4                                Asian
...                                ...
1071                              None
1072                              None
1073                              None
1074                              None
1075                              None

[1076 rows x 4 columns]

In [32]:
nct_id_set = set(nct_id_list)
extracted_nct_id_set = set(extracted_race['nct_id'])

# Find nct_ids in nct_id_list but not in extracted_race
missing_nct_ids = nct_id_set - extracted_nct_id_set
print("nct_ids in the list but not in the extracted data:", missing_nct_ids)

nct_ids in the list but not in the extracted data: {'NCT02034916', 'NCT00679783'}

nct_ids in the list but not in the extracted data: {'NCT02034916', 'NCT00679783'}
2 studies no ethnicities

In [31]:
### Age
nct_id_list = ['NCT00679783', 'NCT02898207', 'NCT02711137', 'NCT04171700', 'NCT02000622', 
               'NCT03330847', 'NCT03840200', 'NCT02401347', 'NCT03499353', 'NCT02163694', 
               'NCT02561832', 'NCT01078662', 'NCT02734004', 'NCT01818063', 'NCT03330405', 
               'NCT01506609', 'NCT03167619', 'NCT01286987', 'NCT03343054', 'NCT01989546', 
               'NCT04690855', 'NCT03329937', 'NCT02032823', 'NCT01905592', 'NCT01116648', 
               'NCT03286842', 'NCT02657889', 'NCT02034916', 'NCT02282020', 'NCT02282345', 
               'NCT01945775', 'NCT01306032', 'NCT00494234', 'NCT03875313']

def extract_aact_age(nct_ids):
    connection = psycopg2.connect(
        database="aact",
        user= "achang",
        password="AChang2608",
        host="aact-db.ctti-clinicaltrials.org",
    )

    with closing(connection.cursor()) as cursor:
        query = f"""
        SELECT nct_id, result_group_id, title, param_value
        FROM baseline_measurements
        WHERE title = 'Age, Continuous'
        AND nct_id IN ({', '.join(["'%s'" % id for id in nct_ids])});
        """
        cursor.execute(query)
        patients = cursor.fetchall()
        
        columns = [
        'nct_id',
        'result_group_id',
        'title',
        'number',
    ]

    df = pd.DataFrame(patients, columns=columns)

    nunique=df['nct_id'].nunique()
    unique_nct_ids = df['nct_id'].unique()
    #print(unique_nct_ids)
    print(nunique)
    return(df)
    



extracted_age= extract_aact_age(nct_id_list)
print(extracted_age)

27
          nct_id  result_group_id            title number
0    NCT03167619         73924853  Age, Continuous   52.4
1    NCT03167619         73924854  Age, Continuous   49.5
2    NCT03167619         73924855  Age, Continuous     51
3    NCT02282345         74050490  Age, Continuous     40
4    NCT02282345         74050491  Age, Continuous     38
..           ...              ...              ...    ...
146  NCT03286842         74326934  Age, Continuous   55.3
147  NCT03499353         73915215  Age, Continuous   44.6
148  NCT02032823         73916337  Age, Continuous   43.0
149  NCT02032823         73916338  Age, Continuous   43.6
150  NCT02032823         73916339  Age, Continuous   43.3

[151 rows x 4 columns]

In [33]:
nct_id_set = set(nct_id_list)
extracted_nct_id_set = set(extracted_age['nct_id'])

# Find nct_ids in nct_id_list but not in extracted_race
missing_nct_ids = nct_id_set - extracted_nct_id_set
print("nct_ids in the list but not in the extracted data:", missing_nct_ids)

nct_ids in the list but not in the extracted data: {'NCT03343054', 'NCT01818063', 'NCT02734004', 'NCT02657889', 'NCT01905592', 'NCT04690855', 'NCT01506609'}

nct_ids in the list but not in the extracted data: {'NCT03343054', 'NCT01818063', 'NCT02734004', 'NCT02657889', 'NCT01905592', 'NCT04690855', 'NCT01506609'}

1st study: Age, customized in title, : <18,18-44, 45-64, >65 in classification
2nd study: Age, categorical in title, , <18, 18-65, >65, in category
3rd study: Age, categorical in title, <18, 18-65, >65, in category
4th study: Age, categorical in title:  as above
5th study: Age, customized: 18-64, 65-74, >75 in category
6th study: Age, categorical in title in category
7t study: Age, customized, <45, 45-64, >65 in category

In [37]:
### Age with custom and categorical
nct_id_list = ['NCT00679783', 'NCT02898207', 'NCT02711137', 'NCT04171700', 'NCT02000622', 
               'NCT03330847', 'NCT03840200', 'NCT02401347', 'NCT03499353', 'NCT02163694', 
               'NCT02561832', 'NCT01078662', 'NCT02734004', 'NCT01818063', 'NCT03330405', 
               'NCT01506609', 'NCT03167619', 'NCT01286987', 'NCT03343054', 'NCT01989546', 
               'NCT04690855', 'NCT03329937', 'NCT02032823', 'NCT01905592', 'NCT01116648', 
               'NCT03286842', 'NCT02657889', 'NCT02034916', 'NCT02282020', 'NCT02282345', 
               'NCT01945775', 'NCT01306032', 'NCT00494234', 'NCT03875313']

def extract_aact_age_extra(nct_ids):
    connection = psycopg2.connect(
        database="aact",
        user= "achang",
        password="AChang2608",
        host="aact-db.ctti-clinicaltrials.org",
    )

    with closing(connection.cursor()) as cursor:
        query = f"""
        SELECT nct_id, result_group_id, classification, category, title, param_value
        FROM baseline_measurements
        WHERE title = 'Age, Continuous' OR title='Age, Customized' OR title= 'Age, Categorical'
        AND nct_id IN ({', '.join(["'%s'" % id for id in nct_ids])});
        """
        cursor.execute(query)
        patients = cursor.fetchall()
        
        columns = [
        'nct_id',
        'result_group_id',
        'classification',
        'category',
        'title',
        'number',
    ]

    df = pd.DataFrame(patients, columns=columns)

    nunique=df['nct_id'].nunique()
    unique_nct_ids = df['nct_id'].unique()
    #print(unique_nct_ids)
    print(nunique)
    return(df)
    



extracted_age_extra= extract_aact_age_extra(nct_id_list)
print(extracted_age_extra)

50002
             nct_id  result_group_id            classification category  \
0       NCT01680835         74270076                      None     None
1       NCT01614613         74270080                      None     None
2       NCT01614847         74270085                      None     None
3       NCT01614847         74270086                      None     None
4       NCT01614847         74270087                      None     None
...             ...              ...                       ...      ...
190671  NCT00256750         73851324  Between 46 and 65 years:     None
190672  NCT00256750         73851325  Between 46 and 65 years:     None
190673  NCT00965458         74425796                      None     None
190674  NCT00965458         74425797                      None     None
190675  NCT00965458         74425798                      None     None

                  title number
0       Age, Continuous  67.06
1       Age, Continuous   53.0
2       Age, Continuous   25.8
3       Age, Continuous   28.0
4       Age, Continuous   26.9
...                 ...    ...
190671  Age, Customized     93
190672  Age, Customized     93
190673  Age, Continuous   20.3
190674  Age, Continuous   19.5
190675  Age, Continuous   20.0

[190676 rows x 6 columns]

In [38]:
### trial design

nct_id_list = ['NCT00679783', 'NCT02898207', 'NCT02711137', 'NCT04171700', 'NCT02000622', 
               'NCT03330847', 'NCT03840200', 'NCT02401347', 'NCT03499353', 'NCT02163694', 
               'NCT02561832', 'NCT01078662', 'NCT02734004', 'NCT01818063', 'NCT03330405', 
               'NCT01506609', 'NCT03167619', 'NCT01286987', 'NCT03343054', 'NCT01989546', 
               'NCT04690855', 'NCT03329937', 'NCT02032823', 'NCT01905592', 'NCT01116648', 
               'NCT03286842', 'NCT02657889', 'NCT02034916', 'NCT02282020', 'NCT02282345', 
               'NCT01945775', 'NCT01306032', 'NCT00494234', 'NCT03875313']

def extract_aact_design(nct_ids):
    connection = psycopg2.connect(
        database="aact",
        user= "achang",
        password="AChang2608",
        host="aact-db.ctti-clinicaltrials.org",
    )

    with closing(connection.cursor()) as cursor:
        query = f"""
        SELECT nct_id, allocation, intervention_model, masking, subject_masked, caregiver_masked, investigator_masked, outcomes_assessor_masked
        FROM designs
        WHERE nct_id IN ({', '.join(["'%s'" % id for id in nct_ids])});
        """
        cursor.execute(query)
        patients = cursor.fetchall()
        
        columns = [
        'nct_id',
        'allocation',
        'intervention_model',
        'masking',
        'subject_masked',
        'caregiver_masked',
        'investigator_masked',
        'outcomes_assessor_masked'
    ]

    df = pd.DataFrame(patients, columns=columns)

    nunique=df['nct_id'].nunique()
    unique_nct_ids = df['nct_id'].unique()
    #print(unique_nct_ids)
    print(nunique)
    return(df)
    



extracted_designs= extract_aact_design(nct_id_list)
print(extracted_designs)

34
         nct_id      allocation       intervention_model            masking  \
0   NCT01306032      Randomized     Crossover Assignment  None (Open Label)
1   NCT01286987            None                     None  None (Open Label)
2   NCT01078662  Non-Randomized  Single Group Assignment  None (Open Label)
3   NCT02163694      Randomized      Parallel Assignment             Double
4   NCT02401347  Non-Randomized      Parallel Assignment  None (Open Label)
5   NCT02282020      Randomized                     None  None (Open Label)
6   NCT00494234  Non-Randomized      Parallel Assignment  None (Open Label)
7   NCT02000622      Randomized      Parallel Assignment  None (Open Label)
8   NCT02711137  Non-Randomized  Single Group Assignment  None (Open Label)
9   NCT02034916            None      Parallel Assignment  None (Open Label)
10  NCT00679783  Non-Randomized      Parallel Assignment  None (Open Label)
11  NCT01818063      Randomized      Parallel Assignment  None (Open Label)
12  NCT02561832             N/A  Single Group Assignment  None (Open Label)
13  NCT04171700             N/A  Single Group Assignment  None (Open Label)
14  NCT01905592      Randomized      Parallel Assignment  None (Open Label)
15  NCT02282345             N/A  Single Group Assignment  None (Open Label)
16  NCT03329937             N/A  Single Group Assignment  None (Open Label)
17  NCT01989546             N/A  Single Group Assignment  None (Open Label)
18  NCT03875313  Non-Randomized    Sequential Assignment  None (Open Label)
19  NCT03286842  Non-Randomized  Single Group Assignment  None (Open Label)
20  NCT02898207  Non-Randomized    Sequential Assignment  None (Open Label)
21  NCT01116648      Randomized      Parallel Assignment  None (Open Label)
22  NCT03499353  Non-Randomized  Single Group Assignment  None (Open Label)
23  NCT03840200  Non-Randomized    Sequential Assignment  None (Open Label)
24  NCT02032823      Randomized      Parallel Assignment             Triple
25  NCT03167619      Randomized      Parallel Assignment  None (Open Label)
26  NCT01945775      Randomized      Parallel Assignment  None (Open Label)
27  NCT04690855             N/A  Single Group Assignment  None (Open Label)
28  NCT03343054             N/A    Sequential Assignment  None (Open Label)
29  NCT01506609      Randomized      Parallel Assignment             Double
30  NCT03330405  Non-Randomized    Sequential Assignment  None (Open Label)
31  NCT02734004  Non-Randomized  Single Group Assignment  None (Open Label)
32  NCT03330847      Randomized      Parallel Assignment  None (Open Label)
33  NCT02657889             N/A  Single Group Assignment  None (Open Label)

   subject_masked caregiver_masked investigator_masked  \
0            None             None                None
1            None             None                None
2            None             None                None
3            True             None                True
4            None             None                None
5            None             None                None
6            None             None                None
7            None             None                None
8            None             None                None
9            None             None                None
10           None             None                None
11           None             None                None
12           None             None                None
13           None             None                None
14           None             None                None
15           None             None                None
16           None             None                None
17           None             None                None
18           None             None                None
19           None             None                None
20           None             None                None
21           None             None                None
22           None             None                None
23           None             None                None
24           True             True                True
25           None             None                None
26           None             None                None
27           None             None                None
28           None             None                None
29           True             None                True
30           None             None                None
31           None             None                None
32           None             None                None
33           None             None                None

   outcomes_assessor_masked
0                      None
1                      None
2                      None
3                      None
4                      None
5                      None
6                      None
7                      None
8                      None
9                      None
10                     None
11                     None
12                     None
13                     None
14                     None
15                     None
16                     None
17                     None
18                     None
19                     None
20                     None
21                     None
22                     None
23                     None
24                     None
25                     None
26                     None
27                     None
28                     None
29                     None
30                     None
31                     None
32                     None
33                     None